.playlist{
    padding: 30px;
    height: 100vh;
    color: #fff;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(91, 87, 115);
}

.playlist-detail  > img{
    height: 20vw;
    width: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}